html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Lexend', Verdana, Geneva, Tahoma, sans-serif;

}

.header-splash {
    height: 100%;
    background-image: url("./vendors/background-image.jpeg");
    background-size: 100% auto;
    text-align: center;
}

.header-splash h1, h2 {
    color: white;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    background-color: #122937;
}


.image-tall {
    max-width: 240px;
}

.image-wide {
    width: 350px;
    height: auto;
}

footer {
    text-align: center;
}